/* Estilos para la primera tarjeta */
.card-welcome {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  /* Estilos para la segunda tarjeta */
  .card-time {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  /* Estilos para la tercera tarjeta */
  .card-date {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  /* Estilos para la cuarta tarjeta */
  .card-flight {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
  }
  